.user {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ecf0f1;
  color: brown;
}

.user:hover {
  background-color: #c3c4c4;
}
